{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'basketapp/js/basket.js' %}"></script>
{% endblock %}
{% block main_slider %}
	<div class="container">
		<div class="hero-white">
            {% include 'includes/inc_main_menu.html' %}
		</div>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="basket_list">
                    {% include 'includes/inc_basket_list.html' %}
                </div>
                <button class="btn btn-outline-info text-center col-2">
                  <a href="{% url 'index' %}">на главную</a>
                </button>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}